.App-footer-socialIcon {
    list-style-type: none;
    float: left;
    margin: 0 0.5em;
}
.App-footer-socialIcon .fa{
    color: #ffffff;
}

.App-footer-containerIcons {
    float: left;
    width: 50%;
    padding: 0;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.App-footer-socialIcons:hover {
    cursor: pointer;
}

.App-footer-rights {
    float: left;
    width: 50%;
    font-size: 2em;
    color: #ffffff;
}
.App-footer {
    width: 100%;
    text-align: right;
    height: 6.3em;
    background-color: #0c6728;

}